extends layout

block content
	div.container-fluid
		br
		br
		br
		if subscribe == "true"
			div.alert.alert-success.alert-dismissible.fade.show(role='alert')
				strong Holy guacamole,
				|  you're part of the crew now! Thanks for subscribing, we'll make sure to keep you up to date! 
				button.close(type='button' data-dismiss='alert' aria-label='Close')
					span(aria-hidden='true') ×
	div.container
		p= message
		div.row
			div.col-12.col-md-12.col-lg-8
				div
					h3 Latest posts
					hr
					a(href="/posts/post/" + latest.id)
						img.imgLatest(src=latest.image)
					p.headertag HEALTH
					if latest.type !== "Nothing in particular"
						a(href="/posts/post/" + latest.id)
							h2.titlePostType #{latest.type}: <span class="titlePostTitle"> #{latest.title} </span> 
					else 
						a(href="/post/" + latest.id)
							h2.titlePostsTitle #{latest.title}
					p.textPosts #{latest.content}
					p.smallinfo by #{latest.user.username}, posted #{latest.posted} |  
						img.icons(src="/images/heart.png") 
						|  #{latest.likes} likes | 
						img.icons(src="/images/time.png") 
						|  #{latest.readlength} min read
				
			div.col-12.col-lg-4
				div.row
					div.col-sm-12.col-md-6.col-lg-12
						h3 Popular posts
						each popularpost in popular
							hr
							a(href="/posts/post/" + popularpost.id)
								img.imgPopular(src=popularpost.image)
							if popularpost.type !== "Nothing in particular"
								a(href="/posts/post/" + popularpost.id)
									h6.titlePostType #{popularpost.type}: <span class="titlePostTitle"> #{popularpost.title} </span>
							else 
								a(href="/posts/post/" + popularpost.id)
									h6.titlePostTitle #{popularpost.title}
							p.smallinfo 
								img.icons(src="/images/heart.png")   
								|   #{popularpost.likes}  likes | 
								img.icons(src="/images/time.png")  
								|   #{popularpost.readlength}  min read
						br
						br
					div.col-sm-12.col-md-6.col-lg-12
						div
							h3 Hot tags
							hr
							br
							btn.btn.btn-light.hottags #glutenfree
							btn.btn.btn-light.hottags #healty
							btn.btn.btn-light.hottags #sugarfree
							btn.btn.btn-light.hottags #vegan
							btn.btn.btn-light.hottags #veggies
							btn.btn.btn-light.hottags #cheatmeal
							btn.btn.btn-light.hottags #glutenfree
							btn.btn.btn-light.hottags #healty
							btn.btn.btn-light.hottags #sugarfree
							btn.btn.btn-light.hottags #vegan
							btn.btn.btn-light.hottags #veggies
							btn.btn.btn-light.hottags #cheatmeal
							br
							br
			div.col-12.col-lg-8
				br
				div.row
					each post in posts
						div.col-sm-12.col-md-6.col-lg-6
							div
								a(href="/posts/post/" + post.id)
									img.imgLatest(src=post.image)
								p.headertag HEALTH
								if post.type !== "Nothing in particular"
									a(href="/posts/post/" + post.id)
										h4.titlePostType #{post.type}: <span class="titlePostTitle"> #{post.title} </span> 
								else
									a(href="/posts/post/" + post.id)
										h4.titlePostsTitle #{post.title}
								p.textPosts #{post.content}
								p.smallinfo by #{post.user.username}, #{post.posted} | 
									img.icons(src="/images/heart.png")   
									|   #{post.likes}  likes | 
									img.icons(src="/images/time.png")  
									|   #{post.readlength}  min read
			
			div.col-sm-12.col-md-12.col-lg-4.tall.sticky
				h4 Subscribe
				p Subscribe now so you never have to miss any of these amazing receipes!
				form.form-inline(action="/subscriptions/subscribe", method="post" autocomplete="off")
					div.form-group
						input.subscribe(name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter emailaddress")
						button#subscribe-btn.btn.btn-info(type="submit" style="padding-left:28px; padding-right: 28px; margin-top: 5px;") Subscribe
				small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.



