extends layout

block content
	div.container
		br
		br
		br
		br
		div.row
			div.col-12.col-sm-12.breadcrum
				p here comes the breadcrum / posts / things / yo
		
		div.row
			div.col-12.col-md-12.col-lg-8
				div
					h4 Blogpost
					hr
					img.imgLatest(src=post.image)
					p.headertag HEALTH
					if post.type !== "Nothing in particular"
						h2.titlePosts <strong> #{post.type}: </strong> #{post.title}
					p.smallinfo by #{author.username}, #{post.createdAt} | #{total} comments | x min read
					p.textPosts= post.content
					div
						btn.btn.btn-light.hottags #glutenfree
						btn.btn.btn-light.hottags #healty
						btn.btn.btn-light.hottags #sugarfree	
				
			div.col-12.col-lg-4
				div.row
					div.col-sm-12.col-md-6.col-lg-12
						h4 About this author
						hr
						img.imgAboutAuthor(src=author.profile)
						br
						br
						p= author.about

		div.row
			div.col-12.col-lg-12
				div
					br
					h4 Related posts (slider option here?)
		div.row
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="/images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="/images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="/images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read

		div.row
			div.col-12.col-lg-12
				div
					br
					h4 Comments
		div.row
			div.col-sm-12.col-md-8.col-lg-8
				br
				if comments.length > 0
					each comment in comments
						div
							img.imgUser(src=comment.user.profile)
							h5= comment.user.username
							p= comment.content
							p.smallDate Posted #{comment.posted}
							hr
				else
					div
						p Awh, there a no comments on this post yet. Be the first one!
						br
				div#commentbox
					div#commentwrapper
						br
						h4 Leave a reply
						if session !== null
							form(action=`comments/newcomment/${post.id}` method="post" autocomplete="off")
								div.form-group
								textarea(name="comment" class="form-control" placeholder="What are your thoughs on this post?" rows="5")
								br
								button.btn.btn-info(type="submit") Add comment
							br
						else
							p You need to be logged in to post a comment. You can do so
								a(href="/login")  here.

			div.col-sm-12.col-md-4.col-lg-4
				div.subscribeContainer
					img.imgSubscribe(src="/images/300x500.png")
					div.textSubscribe
						h4 Subscribe
						p Subscribe now so you never have to miss any of these amazing receipes!
						form(action="/subscribe", method="post" autocomplete="off")
							div.form-group.formSubscribe
								input.subscribe(type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter emailaddress")
								button.btnSubscribe.btn.btn-info(type="submit") Subscribe
